/* PRODUCT DETAIL */

.clear{
    clear: both;
}
.product-detail .row > div {
    margin-top: 20px;
}

.product-detail-session {
    background-color: #fff;
    padding: 16px;
    margin-top: 20px;
}

.product-title-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    padding-top: 8px;
}


.product-title-box span {
    margin-right: 22px;
    margin-top: 10px;
}   

.product-detail {
    margin-top: 16px;
}

.product-detail .img-card {
    width: 80%;
}

.product-detail .product-wrapper img {
    border: solid 1px #ccc;
}

.product-detail-info h4 {
    margin-left: 12px;
}

.product-detail-info p {
    width: calc(50% - 12px);
    float: left;
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 8px;
}

.product-detail-info p::before,
.help-box li::before {
    content: 'â—';
    font-size: 10px;
    color: #ced1d6;
    margin-right: 5px;
    vertical-align: 1px;
}

.product-detail-info a {
    text-decoration: none;
    color: #000;
    border: solid 1px #000;
    padding: 2px 8px;
    margin-top: 5px;
    margin-left: 12px;
    display: inline-block;
}

.product-detail-price {
    margin-left: 12px;
    padding: 20px 0;
    font-size: 16px;
}

.del-detail-price del {
    font-weight: bold;
    font-size: 24px;
    margin-left: 16px;
}

.del-detail-price del {
    font-weight: bold;
    font-size: 24px;
    margin-left: 16px;
}

.detail-price span {
    font-weight: bold;
    font-size: 30px;
    color: #c8191f;
    margin-left: 20px;
}

.product-detail-button {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    margin-top: 16px;
}

.product-detail-button .add-cart {
    height: 50px;
    width: 50px;
    background-color: #c8191f;
    text-align: center;
}

.product-detail-button .add-cart:hover {
    background-color: #ccc;
}

.product-detail-button .add-cart:hover i {
    color: #000;
}

.product-detail-button .add-cart i {
    color: #fff;
    line-height: 50px;
}


.product-detail-button .buy-btn {
    flex: 1;
    background-color: #c8191f;
    margin-left: 20px;
    text-align: center;
    
}

.product-detail-button .buy-btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

.product-detail-button .buy-btn:hover a {
    color: #000;
}

.product-detail-button .buy-btn a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    font-weight: 700;
    font-size: 18px;
}

.help-box {
    padding: 0 16px;
}

.help-box h5 {
    font-size: 16px;
}

.help-box li:hover a {
    color: #e5101d;
}

.help-box li a,
.help-box li {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

/* Related-product */
.related-product {
    background-color: #fff;
    margin-top: 20px;
}

.related-product img {
    transition: 0.5s linear;
    width: 190px !important;
}

.related-product img:hover {
    transform: scale(1.2);
}

.suggest-product a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    margin: 8px 0;
    display: inline-block;
}

.suggest-product p {
    color: #c8191f;
    font-size: 17px;
    font-weight: 700;
    margin-top: 4px;
}

.suggest-product a:hover {
    color: #e5101d;

}
.related-product-box > div {
    margin: 20px 0;
}

.nav-tabs .nav-link {
    border-radius: 0;
}

.tab-content {
    padding: 15px 0 24px;
}

.nav-tabs .nav-link.active {
    color: #e5101d;
}

.nav-tabs .nav-link {
    color: #000;
}

.nav-tabs .nav-link:hover {
    color: #c8191f;
}

/* for more detail product */

.more-detail-box {
 background-color: #fff;
 margin-top: 20px;
}
.dac-diem {
    padding: 20px 0 20px 16px;
}

.dac-diem > h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.dac-diem .dac-diem-content img {
    width: 100%;
}

.dac-diem .dac-diem-content p {
    margin: 16px 0;
    font-size: 18px;
}

.dac-diem .dac-diem-content h5 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.thong-so {
    padding: 20px 16px 20px 0;
}

.thong-so .thong-so-content table {
    width: 100%;
}

.thong-so .thong-so-content tr:nth-child(odd){
    background-color: #f4f4f4;
    padding: 0 20px;
}

.thong-so .thong-so-content tr td:nth-child(1) {
    width: 120px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

.thong-so .thong-so-content tr td:nth-child(2) {
    padding: 0 12px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .dac-diem, .thong-so {
        padding-left: 8px;
        padding-right: 8px;
    }
}
